<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fsrHome</title>
</head>
<body>
    <h1>Listings</h1>
    <form action="/listings/new" method="GET">
        <button type="submit">Create New Listing</button>
    </form>
    <br/>
    <% for(let listing of allListings) { %>
    <div>
        <p><a href="/listings/<%= listing._id %>"><%= listing.title %></a></p>
    </div>
    <% } %>

</body>
</html>
 
