<% layout('layouts/boilerplate') %>
<body>
    <h1>Listings</h1>
    <br/>
    <% for(let listing of allListings) { %>
    <div>
        <p><a href="/listings/<%= listing._id %>"><%= listing.title %></a></p>
    </div>
    <% } %>

</body>

 
