<% layout('layouts/boilerplate') %>
<body>
    <div class="container new-listing-form row">
        <div class="col-7 offset-3">
            <br><br>
            <h1 class="heading-new-lising">Create a New Listing</h1>
            <br>
            <form action="/listings" method="POST">
                <div class="mb-2 h">
                    <label for="title" class="form-label">Title:</label>
                    <input class="form-control" type="text" id="title" name="listing[title]" required><br><br>
                </div>
                
                <div class="mb-2 hh">
                    <label for="description" class="form-label">Description:</label>
                    <textarea class="form-control" id="description" name="listing[description]" placeholder="Describe the Place..." required></textarea><br><br>
                </div>

                <div class="mb-2 h">
                    <label for="image" class="form-label">Image URL:</label>
                    <input class="form-control" type="text" id="image" name="listing[image]"><br><br>
                </div>

                <div class="row">
                
                    <div class="mb-2 h col-md-4">
                        <label for="price" class="form-label">Price:</label>
                        <input class="form-control"  type="number" id="price" name="listing[price]" required><br><br>
                    </div>

                    <div class="mb-2 h col-md-8">
                        <label for="country" class="form-label">Country:</label>
                        <input class="form-control" type="text" id="country" name="listing[country]" required><br><br>
                    </div>
                </div>
                    
                <div class="mb-2 h">
                    <label for="location" class="form-label">Location:</label>
                    <input class="form-control" type="text" id="location" name="listing[location]" required><br><br>
                </div>

                
                <button type="submit" class="btn btn-dark">Add Listing</button>
            </form>
        </div>
    </div>
</body>
