/* navbar styles */

.navbar{
    height: 5rem;
    background-color: aliceblue;
}

.fa-map-location{
    font-size: 1.5rem;
    font-weight: bold;
    color: #cb2f39;
}

.nav-link{

    color: #222222 !important;
}

/* footer styles */

.f-info{
    background-color: #ebebeb;
    padding: 1rem;
    text-align: center;
    margin-top:1rem;
}

.f-info-socials a{
    font-size: 1.5rem;
    margin: 0 0.5rem;
    color: #222222 !important;
    padding-bottom: 1rem;
}   

.copyright p{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
    vertical-align: middle;
}

.terms a:hover{
    text-decoration: underline;
    color: blue;
} 
.terms a{
    text-decoration: none;
    color: #222222;
}
