/* navbar styles */

body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: aliceblue;
}

.fa-map-location{
    font-size: 1.5rem;
    font-weight: bold;
    color: #cb2f39;
}

.nav-link{

    color: #222222 !important;
}

/* footer styles */

.f-info{
    background-color: #ebebeb;
    padding: 1rem;
    text-align: center;
    margin-top:1rem;
}

.f-info-socials a{
    font-size: 1.5rem; 
    margin: 0 0.5rem;
    color: #222222 !important;
    padding-bottom: 1rem;
}   

.copyright p{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
    vertical-align: middle;
}

.terms a:hover{
    text-decoration: underline;
    color: blue;
} 
.terms a{
    text-decoration: none;
    color: #222222;
}


/* listing card styles */

.main{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card{
    margin-bottom: 2rem;
    border: none !important;
}
.card-img-top{
    height: 300px;
    width: 100% !important ;
    border-radius: 0.8rem !important;
    object-fit: cover !important;
}

.card-body{
    padding-top: 0.5rem !important;
    padding-left: 0 !important;
}

.card-text{
    font-weight: 400 !important;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    background-color: white;
    border-radius: 0.8rem !important;
    opacity: 0.2;
}


/* form styles */

.heading-new-lising{
    padding-top: 1rem;
    color: #222222;
    font-weight: 600 !important;
}

.h{
    height: 5rem !important;
}
.hh{
    height: 7rem !important;
}

/* show page styles */

.show-img{
    height: 40vh;
    object-fit: cover !important;
    border-radius: 0.8rem !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
}